<div class="well">
  <% unless @results.blank? %>
      <h3 class="total"><%= pluralize @results.total_count, "#{t 'search_result', default: 'search result'}" %></h3>
      <ul>
        <% @results.each do |result| %>
          <li><%= render result.searchable_type.downcase, result: result %></li>
        <% end %>
      </ul>
      <div class="clearfix">
      <%= paginate @results, remote: true %>
      </div>
  <% else %>
    <h3><%= t 'no_search_results_found', default: 'No search result found.' %></h3>
  <% end %>  
</div>