<%= render 'layouts/search' %>

<div class="center" id="loading" style="display: none; margin-bottom: 15px;">
  <%= image_tag('loader.gif') %> Searching...
</div>
<div id="search-results">
</div>

<script type="text/javascript" charset="utf-8">
  $('#search-form').bind('ajax:before', function() {
    $('#loading').show();
  });
</script>
