<h1>Dashboard#show</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>
<% modal :id => "test-modal" do |builder| %>
  <%= builder.header :closeable => false do %>foo<% end %>
  <%= builder.body do %>
    <p>lsdfka</p>
  <% end %>
  <%= builder.footer do %>
    <a href="#" class="btn">Close</a>
    <a href="#" class="btn btn-primary">Save changes</a>
  <% end %>
<% end %>

