<h2 style='clear:both;'><%= t '.title', :default => 'Removal scheduled for' %> <%= l params[:day].to_date %></h2>

<script type="text/javascript" charset="utf-8">
  $(function() {
    $(".chzn").chosen();
  });
</script>