<h1><%= Quote.model_name.human + 's' %>
  <span class="submenu">
    <%= icon_button_link_to "#{t 'new_quote', default: 'New quote'}", new_quote_path, icon: 'plus', large: true, level: 'primary', white: true %>
  </span>
</h1>

<%= render 'quotes', period_search: true %>