<h1><%= Quote.model_name.human + 's' %>
  <span class="submenu">
    <%= icon_button_link_to "#{t 'new_quote', default: 'New quote'}", new_quote_path, icon: "plus", large: true, level: "primary", white: true %>
    <% if params[:action] == 'index' %>
      <%= Quote.pending.any? ? (button_link_to "#{t 'quotes.pending', default: 'Pending quotes'}", pending_quotes_path, large: true, level: "default") : '' %>
    <% end %>
  </span>
</h1>

<%= render 'quotes' %>