<h1><%= t 'new_quote' %></h1>

<%= render 'form' %>

<script type="text/javascript">
$(function() {
  $('#change-rp').click(function(e) {
    e.preventDefault();
    $('#select-sale-representative').show();
    $('#change-sale-representative').hide();
  });
});
</script>