<div class="control-group float optional overtime">
  <%= f.label "Overtime" %>
  <div class="controls">
    <div class='input-append'>
      <%= f.text_field :duration, :class => 'span1 input-append duration' %><span class="add-on"><i class="icon-time"></i></span>
    </div>
    *
    <div class='input-append'>
      <%= f.text_field :rate, :class => 'span1 input-append rate' %><span class="add-on">$</span>
    </div>
    <%= f.link_to_remove 'Remove' %>
  </div>
  
</div>