<% body_class('quotes') %>
<h2>Invoice
  <span class='submenu'>
    <%= button_link_to 'Signature', '#signature', "data-toggle" => "modal", level: "success", large: true, id: "approve" %>  
  </span>
</h2>
<div id="msg" style="display: none;">Form saved</div>
<div id="invoice-form-container">
  <%= render 'form' %>
</div>

<%= render 'signaturepad' %>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Invoices.Form.init();
  });
</script>
