<% body_class('quotes') %>
<h2><%= t 'invoice_for', default: 'Invoice for' %> <%= @quote.client.name %>
  <span class='submenu'>
    <%= button_link_to "#{t 'preview'}", '#', level: "success", large: true, id: "preview" %>  
  </span>
</h2>
<div id="msg" style="display: none;">Form saved</div>
<div id="invoice-form-container">
  <%= render 'form' %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Invoices.Form.init();
  });
</script>
