<h2><%= @annex.name %>
  <span class='submenu'><%= link_to "#{t 'edit'}", edit_storage_annex_path(@annex.storage, @annex), :class => 'btn btn-large btn-inverse' %></span>
</h2>

<div class='read'>
  <%= simple_format(@annex.body) %>
</div>