<h2><%= @option.name %>
  <span class='submenu'><%= button_link_to 'Edit', edit_option_path(@option), level: "inverse", large: true  %></span>
</h2>

<p>
  <b>Active:</b>
  <%= @option.active? ? 'Yes' : 'No' %>
</p>

<p>
  <b>Price:</b>
  <%= number_to_currency(@option.price) %>
</p>