<% body_class('reports') %>
<h2><%= t 'report_for', default: 'Report for' %> <%= @quote.client.name %>
  <span class='submenu'>
    <span id="msg" style="display: none;">Form saved</span>
    <%= button_link_to "#{t 'preview'}", '#', level: "success", large: true, id: "preview" %>  
  </span>
</h2>

<div id="report-form-container">
  <%= render 'form' %>
</div>

<script type="text/javascript" charset="utf-8">
  $(function() {
    Reports.Form.init();
  });
</script>
