<h2><%= @document.name %>
  <span class='submenu'><%= link_to 'Edit', edit_document_path(@document), :class => 'btn btn-large btn-inverse' %></span>
</h2>

<div class='read'>
  <%= simple_format(@document.body) %>
</div>