<h2><%= @storage.name %>
  <span class='submenu'><%= button_link_to 'Edit', edit_storage_path(@storage), level: "inverse", large: true %></span>
</h2>

<p>
  <b>Default:</b>
  <%= @storage.default %>
</p>

<p>
  <b>Address:</b>
  <%= address_for(@storage.address) %>
</p>
