#calendar table {
  border-collapse: collapse;
  width: 100%;
}

#calendar td,
#calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

#calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

#calendar td {
  background: #FFF;
  color: #333;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

#calendar .notmonth {
  color: #CCC;
}

#calendar #month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  clear: both;
}

#calendar #month a, #calendar #month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

#calendar #month a:hover {
	background: #eee;
	@include border-radius(5px);
}

#calendar .today {
  background-color: #D44413;
  color: #fff;
  font-size: bold;
  
  a {color: #fff;}
}

#calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

#calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: left;
  overflow: hidden;
  margin-bottom: 5px;
}
#calendar li span {
  float: left;
  display: block;
}
#calendar li .time {
  margin-right: 3px;
}
#calendar table.monthly {
  td {
    cursor: pointer;
  }
  td:hover {
    background: #f0f5fa;
  }
  td.today:hover {
    background: #D44413;
  }
}
#calendar .label {
  max-width: 110px;
  word-wrap: break-word;
  white-space: normal;
}

#cal_comment {clear:both;}
.cal_address {margin-bottom:20px;}
.cal_additional {clear: both;}