.short {
	width: 60px;
}

.control-group.datetime_picker {
	select:first-child {
    padding-left: 10px;
  }
  select {
    width: 60px;
  }
}

.comment_one_liner {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px dashed #ccc;
	@include border-radius(0);
	box-shadow:none;
	width: 85%;
	height: 18px;
	padding: 4px;
	
	&:focus {
		border:none;
		border-bottom: 1px dashed rgba(82, 168, 236, 0.8);
		box-shadow: none;
		@include box-shadow(bottom inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
		outline: 0;
		outline: thin dotted 9;
	}
}

/* Bootstrap overrride */
.close {
	border: none;
	background: white;
	margin-right: 0;
	padding-right: 0;
	text-align: right;
}
.form-search {
  margin-bottom: 10px;
  margin-top: 10px;
  float: left;
  
  input {
    margin-bottom: 0;
  }
}

/* Checkbox with right label fix */
label.checkbox {
  text-align: left !important;
  width: auto !important; 
}
input[type=checkbox] {
  margin-right: 10px !important;
}

.form-search {
	margin-top: 0;

	label.checkbox {
	    margin-left: 10px;
		margin-right: 10px;
	}
}