body.quotes {
  .badge-a {background-color: #38B44A;}
  .badge-b {background-color: #F3C768;}
  .badge-c {background-color: #942A25;}
  a#add-address {
    border: 5px dashed #CCC !important;
    text-align: center;
    height:426px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    display: block;
    color: #CCC;
    width: 260px;
    
    span {
      display: block;
      margin: 40px auto;
      width: 120px;
      line-height: 1.4;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .address {
    .control-group {
      label {
        text-align: left;
        float: none;
      }
      .controls {
        margin-left: 0;
      }
    }
    .remove-address {
      display: none;
    }
    .title {
      @include clearfix;
    
      h3 {
        float: left;
      }
      h6 {
        float: right;
      }
    }
    input {
      width: 260px;
    }
    select {
      width: 270px;
    }
    #storage-field {
      display: none;
      height: 370px;
    }
    #remove-storage {
      display: none;
    }
  }
  #to-address2 {
    display: none;
  }
  .holder {
    border: 5px dashed #CCC !important;
    text-align: center;
    cursor: pointer;
    height:426px;
  
    & > a {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: bold;
      display: block;
      width: 120px;
      line-height: 1.4;
      color: #CCC;
      margin: 40px auto;
    
    
      &:hover {
        text-decoration: none;
      }
    }
  }
  #add-supply {
    margin-left: 160px;
    margin-bottom: 20px;
  }
  
  #timeline {
    margin-top: 20px;
    h3 {
      @include clearfix;
      
      .time {
        float: left;
      }
    }
    .line {
      height: 2px;
      background: #333;
      margin-top: 12px;
      margin-left: 60px;
    }
    .quote {
      margin-left: 60px;
    }
    .last-line {
      background: #CCC;
      margin-left: 0;
    }
  }
}

#furnitures {
  tbody tr:hover td,
  tbody tr:hover th {
    background:none;
    border:none;
  }
	td {border:none; text-align: right;}
	td input {margin-left: 8px;}
}

.storage { 
	width:50%; float: left;
	
	h6 {margin-top:6px;}
}

.approve_doc {
	margin-top: 40px;
}