.hide {
  display: none;
}
.modal {
  display: none;
}
.clearfix {
  overflow: hidden;
}

#msg {
	font-size:13px; 
	font-weight: normal; 
	color: grey;
}

/* Bootstrap override */
.label-danger {
	background-color:#BD362F;

    &:hover { background-color: #97310E;}
}
.label-warning {
	background-color:#BD362F;
	@include background-image(linear-gradient(top, #F5D185, #EFB73E));

    &:hover { background-color: #efb73e;}
}

.label-created, .label-verified { background: #468847; }
.label-updated { background: #3a87ad; }
.label-destroyed { background: #b94a48; }