.hide {
  display: none;
}
.modal {
  display: none;
}
.clearfix {
  overflow: hidden;
}

#msg {
	font-size:13px; 
	font-weight: normal; 
	color: grey;
}

/* Bootstrap override */
.label-danger {
	background-color:#BD362F;

    &:hover { background-color: #97310E;}
}