<div id="main_search">
  <form>
    <input id="iemail" name="email" type="text" placeholder="Client, Phone, Quote ID..."><input class="btn btn-search btn-xlarge" type="submit" value="Search">
  </form>
</div>