<div id="main_search">
  <form>
    <input id="iemail" name="email" type="text" placeholder="<%= t 'srch_inpt_plcholder', default: 'Client, Phone, Quote ID...' %>"><input class="btn btn-search btn-xlarge" type="submit" value="<%= t 'search' %>">
  </form>
</div>