<!DOCTYPE html>
<html>
<head>
  <title>Moving</title>
  <link href="<%= Rails.root.join("app", "assets", "stylesheets", "print.css") %>" rel='stylesheet' type='text/css' media="all">
</head>
<body>
  <div class="container">
    <div id="main-print" style="margin-top:15px;">
      <%= yield %>
    </div>
  </div>
</body>
</html>
